/* место для вашего кода */
div, address, .menu, footer, .cover {
  margin: 0;
  padding: 0;
}

img {
  width: 50%;
  height: 50%;
}

/*шапка*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 92px 50px 92.5px 50px;
}

/*Навигация в шапке*/

.list-nav-array {
  color: #000000;
  list-style-type: none;
}

.list-nav {
  list-style-type: circle;
  list-style-position: inside;
}

.ref-nav {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: #000000;
}

.ref-main-decoration {
  text-decoration: none;
}

.aray {
  display: flex;
  gap: 13.48px;
  list-style: inside;
  justify-content: start;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 4px;
}

/*Логотип шапки*/

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 4px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  background-repeat: no-repeat;
}

/*Контакты шапки*/

.header-adres {
  display: flex;
  align-items: center;
  width: 240px;
  height: 100%;
  padding-bottom: 4px;
  justify-self: end;
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 248px;
}


.contact-info {
  padding-bottom: 1px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.333;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact-place {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.333;
}

/* Основная страница */

.main {
  display: block;
  padding-bottom: 180px;
}

/* Обложка */

h1 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 1.175;
  text-transform: uppercase;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: auto;
  left: 0px;
  width: 100%;
  min-height: 757px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  margin-top: 165px;
  margin-left: 50px;
  margin-bottom: 105px;
  margin-right: 50px;
  width: calc(100% - 100px);
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 3px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  z-index: 1;
  margin-bottom: 48px;
  padding-left: 50px;
  padding-right: 50px;
  gap: 100px;
}

.cover__description-text {
  width: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.273;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.182;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  flex-shrink: 0;
}

/* Лоты */

.lots {
  position: relative;
  top: auto;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 120px;
}

.lots__heading {
  margin-bottom: 28px;
  margin-left: 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  height: 100%;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  z-index: 0;
  width: 334px;
  min-height: 596px;
}

.card_type {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  margin-top: 48px;
  margin-right: 40px;
  margin-left: 40px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  margin-right: 40px;
  margin-bottom: 48px;
  margin-left: 40px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 64px;
  margin-top: 30px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.15;
  text-decoration: underline;
}

/* Об аукционе */

.about {
  top: auto;
  display: grid;
  grid-template-columns: 334px 1fr;
  width: 100%;
  padding: 0px 24px 0px 24px;
}

.about__logo {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 35px;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-self: end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 693px;
  height: auto;
}

.column_title {
  display: flex;
  align-items: flex-start;
  margin-top: 133px;
  max-width: 688px;
  padding-bottom: 100px;
  padding-top: 3px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26.5px;
  text-transform: uppercase;
  color: #000000;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 688px;
  justify-self: end;
  align-content: start;
  align-self: end;
  margin-top: auto;
  margin-right: auto;
}

.paragraf-text {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

/* Подвал сайта */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  padding: 0px 50px 100px 50px;
}

.footer-adress {
  width: 250px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  width: 240px;
  list-style-type: none;
}

.icon {
  display: block;
  width: 48px;
  height: 48px;
}